<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}
header{
  background: url(background.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 0px);
}

.inner-width{

  margin: auto;
}

.logo{
  float: left;
  padding: 0 20px;

}
.logo img{
  height: 200px
}
.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px 23px;
  border-radius: 4px;
  transition: .1s linear;
}
.navigation-menu a:hover {
  background: #fff;
  color: #2f3640;
}
.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
.button{
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%,-50%);
  color: #2B2B2B;
  font-size: 20px;
}

.button a{
  margin-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border: 3px solid #fff;
  border-radius: 4px;
  transition: .2 s linear;
}
.button a:hover{
  background-color: #fff;
  color: #000;
}
fab fa-apple:hover{
  display: none;
}
.video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

.aboutus{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-60%);
  color: #fff;
  font-size: 70px;
}
=======
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}
header{
  background: url(background.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 0px);
}

.inner-width{

  margin: auto;
}

.logo{
  float: left;
  padding: 0 20px;

}
.logo img{
  height: 200px
}
.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px 23px;
  border-radius: 4px;
  transition: .1s linear;
}
.navigation-menu a:hover {
  background: #fff;
  color: #2f3640;
}
.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
.button{
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%,-50%);
  color: #2B2B2B;
  font-size: 20px;
}

.button a{
  margin-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border: 3px solid #fff;
  border-radius: 4px;
  transition: .2 s linear;
}
.button a:hover{
  background-color: #fff;
  color: #000;
}
fab fa-apple:hover{
  display: none;
}
.video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

.aboutus{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-60%);
  color: #fff;
  font-size: 70px;
}
>>>>>>> 9ac1a2fefb4b278504d5e516fd151219520c7552
